*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
header{
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    /* border: dashed; */
    /* color: white; */
    background-color:#808080;
    
}

header img{
    /* margin-left: 50px; */
    margin-left: 90px;
    width: 10%;
    height: 150px;
    background-color: red;
}

header nav{
    width: 80%;
    height: 100%;
    /* border: dashed; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    color: white;
    font-size: 21px;
    text-decoration: none;
}

header nav .myNav {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: dashed; */
}

header nav .myNav a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 2px;
    position: relative;
}
header nav .myNav a::after{
    content: '';
    width: 0;
    height: 10px;
    background: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    transition: 0.5s;
}

header nav .myNav a:hover::after{
    width: 100%;
}

.icons a{
    text-decoration: none;
    color: #fff;
    text-align: center;

}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 70px;
    transition: 0.3s;
}
.icons ion-icon:hover{
    color: #b9b5b5;

}




header nav .order{
    margin-left: 30px;
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* border: dashed; */
}

header nav .order .one{
    margin-bottom: 0px;
    width: 215px ;
    height: 100px;
    background-color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fafafa;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    padding-left: 90px;
    transition: 0.9s ease-in-out;
}

header nav .order .one:hover{
    color: #ff0000;
    background-color: #ffe61c;
}

header nav .order .two{
    margin-top: 0px;
    width: 215px ;
    /* height: 120px; */
    background-color: #ffe61c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #ff0000;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    padding-left: 40px;
    transition: 0.9s ease-in-out;
}

header nav .order .two:hover{
    color: #eee;
    background-color: #ff0000;
}
